.alert {
  position: relative;
  width: 100%;
  border-radius: var(--radius);
  border: 1px solid hsl(var(--border));
  padding: 1rem;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));

  &--destructive {
    border-color: hsl(var(--destructive) / 0.5);
    color: hsl(var(--destructive));
  }

  &__title {
    margin-bottom: 0.25rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.025em;
  }

  &__description {
    font-size: 0.875rem;

    p {
      line-height: 1.625;
    }
  }
}
